<%% title @<%= singular_name %>.title %>

<h1><%%= yield :title %></h1>

<p>
<%- if action? :edit -%>
  <%%= link_to t('general.edit'), <%= item_path :action => :edit, :instance_variable => true %> %> |
<%- end -%>
<%- if action? :destroy -%>
  <%%= link_to t('general.destroy'), <%= item_path :instance_variable => true %>, :confirm => t('general.confirm'), :method => :delete %> |
<%- end -%>
<%- if action? :index -%>
  <%%= link_to t('general.back'), <%= items_path %> %>
<%- end -%>
</p>


<%- for attribute in model_attributes -%>
<p>
  <strong><%= attribute.human_name.titleize %>:</strong>
  <%%= @<%= instance_name %>.<%= attribute.name %> %>
</p>
<%- end -%>